@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #F4FAFF;
}

label, a, button{
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #020202;
  background-color: #B7ADCF;
  text-decoration: none;
}

.top-header {
  position: fixed;
  width:100%;
  background-color: #B7ADCF;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    overflow: hidden;
}

.navbar > * {
    background-color: #B7ADCF;
}

.dropdown {
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown:hover .dropdown-content {
    display: block;
}